<menu class="post-meta">
    <div class="post-meta-data"><i class="icon-datetime"></i> {{date format="%B %e %Y"}}</div>
    {{#if tags}}<div class="post-meta-data"><i class="icon-tags"></i> {{tags}}</div>{{/if}}
</menu>