<menu class="post-meta">
    <div class="post-meta-data"><i class="icon-datetime"></i><strong>Published</strong> {{date format="%B %e %Y at %H:%M"}}</div>
    {{#if tags}}<div class="post-meta-data"><i class="icon-tags"></i> {{tags}}</div>{{/if}}
</menu>
